# ─── Base de datos ───────────────────────────────
DB_HOST=localhost
DB_PORT=27017
DB_USER=tlp4
DB_PASSWORD=tlp4
DB_NAME=tp_integrador

# ─── Backend ─────────────────────────────────────
API_PORT=3000
JWT_SECRET=super-secreto-misterioso